main {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

table > thead,
table > tbody {
  outline: 1px solid black;
}

th,
td {
  padding: 1rem;
}

.database {
  position: absolute;
  display: none;
}

.container {
  min-width: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border: 1px solid red;
}

.container > app-button {
  margin-top: 1rem;
}

