<style></style>

<main class="main" [class.blurred]="isOpen">
  <div class="parentContainer">
    <h1>Manage</h1>

    <div class="parentContainer form">
      <app-form
        [placeholders]="{
          productName: 'Enter product name...',
          productManufacturer: 'Enter product manufacturer...',
          productQuantity: 'Enter product quantity...',
        }"
      />

      <app-button
        text="View Database"
        (click)="toggleModal()"
        (click)="$event.stopPropagation()"
      />
    </div>
  </div>

  <div class="parentContainer">
    <h2>Available Products</h2>

    <div class="products">
      @for (product of availableItems; track product.id) {
        <div class="product-card">
          <h3>{{ product.name }}</h3>
          <a>Name: {{ product.name }}</a>
          <a>Price: {{ product.price }}</a>
          <a>Is Popular?: {{ product.isPopular }}</a>
          <a>Product Status: {{ product.status }}</a>
        </div>
      } @empty {
        <div>
          <p>No available items to choose from.</p>
        </div>
      }
    </div>
  </div>
</main>

<!-- Modal -->
<!-- A points to the target element for @ViewChild -->
<div
  #databaseRef
  id="database"
  [style.display]="isOpen ? 'flex' : 'none'"
  (click)="$event.stopPropagation()"
>
  <div class="database-table">
    <table>
      <thead>
        <th>Name</th>
        <th>Price</th>
        <th>Quantity</th>
      </thead>
      <tbody>
        @for (product of database; track product.item.name) {
          <tr>
            <td>{{ product.item.name }}</td>
            <td>{{ product.item.price }}</td>
            <td>{{ product.item.quantity }}</td>
          </tr>
        } @empty {
          <tr>
            <td>There are no items.</td>
          </tr>
        }
      </tbody>
    </table>
  </div>

  <p id="form-error-msg" class="error-msg"></p>
</div>
