<form class="form" (ngSubmit)="handleSubmit()">
  <select name="dropdown" [(ngModel)]="action">
    <option value="update">Update</option>
    <option value="add">Add</option>
    <option value="remove">Remove</option>
  </select>

  <input
    name="productName"
    [(ngModel)]="productName"
    [placeholder]="placeholders['productName']"
  />
  <input
    name="productManufacturer"
    [(ngModel)]="productManufacturer"
    [placeholder]="placeholders['productManufacturer']"
  />
  <input
    type="number"
    name="productQuantity"
    [(ngModel)]="productQuantity"
    [placeholder]="placeholders['productQuantity']"
  />

  <app-button text="Submit" buttonType="submit"></app-button>
</form>

<p *ngIf="message" [style.color]="isError ? 'red' : 'green'">
  {{ message }}
</p>
