<form class="form" (ngSubmit)="handleSubmit()">
  <select name="dropdown" [(ngModel)]="action">
    <option value="update">Update</option>
    <option value="add">Add</option>
    <option value="remove">Remove</option>
  </select>

  <input name="productName" [(ngModel)]="productName" />
  <input name="productManufacturer" [(ngModel)]="productManufacturer" />
  <input type="number" name="productQuantity" [(ngModel)]="productQuantity" />

   <app-button text="Submit" buttonType="submit"></app-button>
</form>

<p *ngIf="message" [style.color]="isError ? 'red' : 'green'">
  {{ message }}
</p>