<style></style>

<main class="main">
  <div class="parentContainer">
    <h1>Privacy</h1>

    <div class="container">
      <h2>Security Considerations</h2>
      <p>
        Utilise strong passwords, implement multi-factor authentication where
        possible, use secure portals/websites when possible as most web services
        require a level of encryption to support and protect their users.
      </p>
    </div>

    <div class="container">
      <h2>Privacy</h2>
      <p>
        Personal information or details will not be collected and stored. This
        principle does not apply to many organisations, where data and personal
        information is cruical for business revenue.
      </p>
      <p>Some privacy practices for users are:</p>
      <ul>
        <li>
          Do not provide sensitive information without reason and checks for
          legitimacy.
        </li>
        <li>Do not provide more information than what is required.</li>
        <li>
          Most 'professional' businesses will not ask for personal information
          post account creation. This may be a sign of a scammer.
        </li>
      </ul>
    </div>
  </div>
</main>
