<style></style>

<main class="main">
    <div class="parentContainer">
        <h1>
            Welcome!
        </h1>

        <div class="container">
            <div>
                <h2>What is the purpose?</h2>
                <p>The purpose of this application is to display my coding knowledge of Typescript and Angular, aswell as other acquired coding skills. Our assessment of these skills is observed by how our application operates, uses functions for array manipulation, learn to create components, use them and more. </p>
            </div>
        </div>
    </div>
</main>